@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, p, ul, li, ol, dl, dt, dd, figure, input, textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline: 0;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.inner {
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
  padding: 0 15px;
}

@font-face {
  font-family: "ロゴたいぷゴシック";
  src: url("../font/ロゴたいぷゴシック.woff") format("woff");
  src: url("../font/Corporate-Logo-Bold-ver2_subset.woff") format("woff");
}
/* -------------------------------------------- */
/* 共通部分 */
/* -------------------------------------------- */
body {
  font-size: 0.875rem;
  background-color: #fc2;
}

section {
  padding: 60px 0 100px;
}
section:nth-child(even) {
  background-color: lightseagreen;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}

/* セクションの見出しとリード文の部分 */
.contents-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #000;
  position: relative;
}
/* 見出しのコンテナ */
/* 見出しの共通部分 */
.heading-common {
  font-family: "Corporate-Logo-Bold-ver2";
  letter-spacing: 0.15em;
  line-height: 1;
}

/* セクションの見出し */
.sec-heading {
  font-size: 4.375rem;
  width: 100%;
}

/* 偶数番目のセクションの見出しを右揃え */
/* section内のコンテンツの共通部分 */
.contents-body {
  margin-top: 40px;
}

/* h3クラスの見出し */
.sub-heading {
  font-size: 1.5rem;
}

/* セクションのリード文 */
.lead {
  line-height: 1.5em;
  letter-spacing: 0.15em;
  width: 100%;
  margin-top: 40px;
}

/* サムネイル */
.thum {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ボタン */
.btn {
  display: block;
  text-align: center;
  margin-top: 60px;
  font-weight: bold;
  font-size: 1.25rem;
}

@media (min-width: 765px) {
  body {
    font-size: 1rem;
  }
  /* セクションの見出しとリード文のコンテナ */
  .contents-head {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  /* 偶数番目のセクションの見出しとリード文のコンテナ */
  section:nth-child(even) .contents-head {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  /* セクションの見出し */
  .sec-heading {
    font-size: 7.5rem;
    padding-bottom: 0px;
  }
  /* セクションのリード文 */
  .lead {
    width: calc((100% - 80px) / 2);
    margin-top: 0;
  }
  /* section内のコンテンツの共通部分 */
  .contents-body {
    margin-top: 60px;
  }
}
/* -------------------------------------------- */
/* mv */
/* -------------------------------------------- */
.mv {
  background: #ddd;
  height: 80vh;
  -webkit-clip-path: ellipse(80% 100% at 50% 0);
          clip-path: ellipse(80% 100% at 50% 0);
}

/* -------------------------------------------- */
/* news */
/* -------------------------------------------- */
.news__heading {
  font-size: 1.5rem;
}

/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* service */
/* -------------------------------------------- */
.service {
  /* サービスのリスト全体 */
  /* サービスのリスト */
  /* サービスのタイトル関連 */
  /* サービスのタイトル */
  /* アコーディオンのクリック */
  /* サービスのタイトルの数字 */
}
.service__list {
  position: relative;
}
.service__list-item {
  position: relative;
  /* 先頭以外 */
}
.service__list-item:not(:first-child) {
  margin-top: 40px;
}
.service__title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.service__title {
  font-size: 1.75rem;
  line-height: 1.5;
}
.service .a {
  font-size: 24px;
  border: 2px solid #000;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
}
.service__title--num {
  font-size: 3.5rem;
  display: block;
  line-height: 1;
}

.w {
  width: 50%;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.demo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-bg-date {
  display: none;
}

/* サービス詳細 */
.service {
  /* webデザイン */
  /* サイトリニューアル */
  /* コーディング代行 */
}
.service__detail {
  padding: 0 40px;
  display: none;
  /* サービス詳細のリストの共通部分 */
  /* サービス詳細の説明 */
}
.service__detail-list--common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #000;
  margin-top: 20px;
}
.service__detail-desc {
  max-width: 620px;
  margin: 40px auto 0;
}
.service__webdesighn {
  /* リスト */
  /* それぞれのリスト */
  /* サービス紹介 */
}
.service__webdesighn-list-item {
  width: calc((100% - 40px) / 3);
}
.service__webdesighn-list-desc {
  text-align: center;
  margin-top: 16px;
}
.service__renewal {
  border: 1px solid #000;
  /* それぞれのリスト */
  /* サービス紹介 */
}
.service__renewal-list-item {
  width: calc((100% - 40px) / 2);
}
.service__renewal-list-desc {
  text-align: center;
}
.service__cording {
  border: 1px solid #000;
  /* それぞれのリスト */
  /* サービス紹介 */
}
.service__cording-list-item {
  width: calc((100% - 40px) / 3);
}
.service__cording-list-desc {
  text-align: center;
}

@media (min-width: 765px) {
  .service {
    /* サービスのリスト全体 */
    /* サービスのリスト */
    /* サービスのタイトル関連 */
    /* サービスのタイトル */
    /* アコーディオンのクリック */
    /* サービスのタイトルの数字 */
  }
  .service__list {
    position: relative;
  }
  .service__list-item {
    position: relative;
    /* 先頭以外 */
  }
  .service__list-item:not(:first-child) {
    margin-top: 40px;
  }
  .service__title-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .service__title-wrap br {
    display: none;
  }
  .service__title {
    font-size: 1.75rem;
    line-height: 1.5;
  }
  .service .a {
    font-size: 24px;
    border: 2px solid #000;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 1;
  }
  .service__title--num {
    font-size: 3.5rem;
    display: inline-block;
    line-height: 1;
  }
}
/* -------------------------------------------- */
/* works */
/* -------------------------------------------- */
.swiper {
  max-width: 1080px;
}

.works {
  /* 小見出し */
  /* コンテンツ */
  /* リスト */
  /* 作品のタイトル*/
  /* 作品の説明 */
}
.works__sub-heading {
  text-align: center;
}
.works__list {
  margin-top: 40px;
  /* リストのアイテム*/
  /* リンク */
  /* 画像本体 */
  /* 説明 */
}
.works__list-item {
  width: 100%;
}
.works__list-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  /* マスク */
}
.works__list-link .mask {
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-transition: background-color 5.3s ease-in-out;
  transition: background-color 5.3s ease-in-out;
}
.works__list-link .mask::before {
  content: "";
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.works__list-image {
  aspect-ratio: 4/3;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.works__list-desc {
  opacity: 0;
  width: 100%;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  z-index: 2;
  -webkit-transition: 0.4s opacity;
  transition: 0.4s opacity;
}
.works__title {
  font-size: 1rem;
}
.works__text {
  margin-top: 20px;
  font-size: 0.875rem;
}

/* サムネイルhover時の動き */
@media (hover: hover) {
  .works__list-item:hover .mask::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background: rgba(0, 0, 0, 0.5);
  }
  .works__list-item:hover img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  .works__list-item:hover .works__list-desc {
    opacity: 1;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
}
@media (min-width: 765px) {
  .works {
    /* リスト */
  }
  .works__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* リストのアイテム*/
  }
  .works__list-item {
    width: calc((100% - 40px) / 3);
  }
}
/* Swiper */
.swiper-containre {
  position: relative;
  padding: 0 20px;
}

.swiper {
  width: 100%;
  margin-top: 40px;
  padding-bottom: 45px;
}

/* スライド */
.swiper-slide {
  overflow: hidden;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

/* 矢印のがわ */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* 矢印本体 */
.swiper-button-prev::after,
.swiper-button-next:after {
  content: "";
  width: 12px;
  height: 12px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  position: absolute;
}

/* 前への矢印 */
.swiper-button-prev:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  left: 15px;
}

/* 次への矢印 */
.swiper-button-next:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 15px;
}

@media (min-width: 765px) {
  /* スライド */
  .swiper-slide {
    opacity: 0.6;
  }
  /* 真ん中のスライド */
  .swiper-slide-active {
    opacity: 1;
    z-index: 1;
    -webkit-transform: scale(1.3);
            transform: scale(1.3); /* スライドの大きさ調整 */
  }
}
/* -------------------------------------------- */
/* flow */
/* -------------------------------------------- */
.flow {
  /* リストの見出し */
  /* フローリスト全体のコンテナ */
}
.flow__sub-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* すうじ */
}
.flow__sub-heading--num {
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
  /* stepの文字 */
}
.flow__sub-heading--num::before {
  content: "step";
  font-size: 1rem;
}
.flow__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

/* リスト */
.flow__list {
  width: 100%;
  /* 画像 */
  /* 説明 */
}
.flow__list-image-wrapper {
  margin-top: 16px;
}
.flow__list-image-wrapper img {
  width: 100%;
}
.flow__list-desc {
  margin-top: 16px;
}

.flow__list_6 {
  display: none;
}

/* タブレット用 */
@media (min-width: 576px) {
  .flow__list {
    width: calc((100% - 30px) / 2);
  }
  .flow__list:nth-child(odd) {
    margin-right: 30px;
  }
}
@media (min-width: 765px) {
  .flow {
    /* フローリスト全体のコンテナ */
  }
  .flow__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* 背景の棒 */
    /* 上の棒 */
    /* 下の棒 */
  }
  .flow__body::before, .flow__body::after {
    content: "";
    width: 100%;
    height: 90px;
    display: block;
    position: absolute;
    z-index: -1;
    background: -webkit-gradient(linear, left top, right top, from(#ddd), color-stop(25%, #fff), color-stop(50%, #ddd), color-stop(75%, #fff));
    background: linear-gradient(to right, #ddd 0% 25%, #fff 25% 50%, #ddd 50% 75%, #fff 75% 100%);
    background-size: 10% 100%;
    -webkit-animation: bggradientright 50s linear infinite;
            animation: bggradientright 50s linear infinite;
  }
  .flow__body::before {
    top: 26%;
    -webkit-transform: rotate(26deg);
            transform: rotate(26deg);
    -webkit-animation-name: bggradientright;
            animation-name: bggradientright;
  }
  .flow__body::after {
    top: 63%;
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
    -webkit-animation-name: bggradientleft;
            animation-name: bggradientleft;
  }
  /* リスト */
  .flow__list {
    width: calc((100% - 120px) / 3);
  }
  .flow__list:nth-child(odd) {
    margin-right: 0px;
  }
  /* リストの個別調整用 */
  .flow__list_2 {
    padding-top: 160px;
  }
  .flow__list_3 {
    padding-top: 320px;
  }
  .flow__list_4 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: -130px;
  }
  .flow__list_5 {
    margin-top: 50px;
  }
  .flow__list_6 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: block;
  }
}
/* -------------------------------------------- */
/* about */
/* -------------------------------------------- */
.about__body {
  border: 1px solid #000;
}
.about__desc {
  margin-top: 40px;
}

@media (min-width: 765px) {
  .about__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about__image-wrapper {
    width: 50%;
  }
  .about__desc {
    width: 50%;
    margin-top: 40px;
  }
}
/* -------------------------------------------- */
/* blog */
/* -------------------------------------------- */
.blog {
  /* カテゴリー */
  /* 投稿日 */
}
.blog__body {
  padding: 0 22px;
}
.blog-title {
  font-size: 0.875rem;
}
.blog__cat {
  font-size: 0.75rem;
  display: inline-block;
  background-color: #ccc;
  padding: 8px 12px;
  border-radius: 6px;
  margin-right: 10px;
}
.blog__posted {
  font-size: 0.875rem;
}

/* ブログのリスト */
.blog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* 最初の要素以外 */
  /* ブログタイトル */
  /* ブログサムネイル */
  /* ブログ情報 */
}
.blog__list:not(:first-child) {
  margin-top: 40px;
}
.blog__list-title {
  padding: 16px 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.blog__list-image {
  aspect-ratio: 16/9;
}
.blog__list-info {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 765px) {
  .blog__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  /* ブログのリスト */
  .blog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc((100% - 120px) / 3);
    /* 最初の要素以外 */
    /* ブログサムネイル */
    /* ブログ情報 */
  }
  .blog__list:not(:first-child) {
    margin-top: 0px;
  }
  .blog__list-image {
    aspect-ratio: 16/9;
  }
  .blog__list-info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */
/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */
@-webkit-keyframes bggradientright {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes bggradientright {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@-webkit-keyframes bggradientleft {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bggradientleft {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}